@inherits LayoutComponentBase

<PageTitle>Hotel H2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 header">
            <a class="button" href="signup">Sign up</a>
            <a class="button" href="login">Log in</a>
        </div>

            

        <article>
            @Body
        </article>

        <footer>
            
        </footer>
    </main>

</div>
