@using DomainModels
@page "/booking";

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Booking</h1>

<a href="roomlist" class="button">Back</a>

<br />

<div class="container">
    
    <EditForm Model="@booking" OnValidSubmit="@SubmitForm">

        <InputNumber @bind-Value="booking.Room" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="City" required />

        <InputDate @bind-Value="booking.StartDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="City" required />
        
        <InputDate @bind-Value="booking.EndDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Start Date" required />
        <input type="submit" value="Sign Up">

        <p class="error-message" id="signup-error"></p>

    </EditForm>

</div>

