@using DomainModels
@page "/booking";

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Booking</h1>

<a href="roomlist" class="button">Back</a>

<br />

<div class="container">
    
    <EditForm Model="@input" OnValidSubmit="@SubmitForm">

        <InputSelect @bind-Value="input.inputBooking.Room" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;"></InputSelect>

        <InputDate required min="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-Value="input.inputBooking.StartDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;"></InputDate>
        
        <InputDate required min="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-Value="input.inputBooking.EndDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;"></InputDate>
        
        <input type="submit" value="Book">

        <p class="error-message" id="signup-error"></p>

    </EditForm>

</div>

<br />
<br />
<br />

