@inherits MessageBox
@page "/booking"

<PageTitle>Booking</PageTitle>

<h1 class="PageTitle">Booking</h1>

<body>

    <div class="Border">
        <div class="containerCard p-4 card">

        </div>
    </div>

</body>