@using DomainModels
@page "/booking";

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Booking</h1>

<a href="roomlist" class="button">Back</a>

<br />

<div class="container">
    
    <EditForm Model="@booking" OnValidSubmit="@SubmitBooking">
              
        @*<InputText @bind-Value="booking.country" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Number of people">
        
        <InputText @bind-Value="booking.city" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Country">
        *@
        <InputText @bind-Value="booking.startDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="City">
        
        <InputText @bind-Value="booking.endDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" id="startDate" placeholder="Start Date">
        
        @*<InputText @bind-Value="booking.people" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" id="endDate" placeholder="End Date">*@

        <input type="submit" value="Sign Up">

        <p class="error-message" id="signup-error"></p>

    </EditForm>

</div>

@code
{
    public Booking booking = new Booking();
}