@using DomainModels
@page "/booking";

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Booking</h1>

<a href="roomlist" class="button">Back</a>

<br />

<div class="container">
    
    <EditForm Model="@booking" OnValidSubmit="@SubmitForm">

        <input type="submit" value="Sign Up">

        <p class="error-message" id="signup-error"></p>

    </EditForm>

</div>