@page "/hotel_info"

<PageTitle>Hotel info</PageTitle>

<h1>Hotel info</h1>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="rbooking">
        <a class="button" aria-hidden="true"> Booking </a>
    </NavLink>
</div>