@inherits MessageBox
@page "/"

<link rel="stylesheet" type="text/css" href="Index.razor.css"/>

<PageTitle>Index</PageTitle>

<h1 class="PageTitle">Hotel H2 Viborg</h1>

@*@for (int i = 0; i < AllRooms.Count; i++)
{
    <RoomListComponent 
        RoomType="@AllRooms[i].RoomType"
        Price="@AllRooms[i].Price"
        VacancyToday="@AllRooms[i].VacancyToday"
        MaxPeople="@AllRooms[i].MaxPeople"/>
}
*@
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 card">
                <MessageBox Title="new message 2" Message="Hello 2" class="text-white" />
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 card">
                <MessageBox Title="new message 2" Message="Hello 2" class="text-white" />
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 card">
                <MessageBox Title="new message 2" Message="Hello 2" class="text-white" />
            </div>
        </div>
    </div>
</body>

<footer class="bg-dark text-center text-lg-start">
    <p> Fuck this </p>
</footer>
