@inherits MessageBox
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hotel H2 Viborg</h1>

<MessageBox 
    Title="new message"
    Message="Hello"
    class="text-black"/>

<br />

<MessageBox 
    Title="new message 2"
    Message="Hello 2"
    class="text-black"
    style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%)"/>