@inherits MessageBox
@page "/"

<link rel="stylesheet" type="text/css" href="Index.razor.css"/>

<PageTitle>Index</PageTitle>

<h1>Hotel H2 Viborg</h1>

@for (int i = 0; i < AllRooms.Count; i++)
{
    <RoomListComponent 
        RoomType="@AllRooms[i].RoomType"
        Price="@AllRooms[i].Price"
        VacancyToday="@AllRooms[i].VacancyToday"
        MaxPeople="@AllRooms[i].MaxPeople" />
}


<MessageBox 
    Title="Something"
    Message="Hello"
    class="text-white"/>

<br/>

<MessageBox 
    Title="new message 2" 
    Message="Hello 2" 
    class="text-white"/>

<br />
