@using DomainModels
@page "/login"

<PageTitle>Login</PageTitle>

<body>
    <div class="container">
        
        <h1>Sign Up</h1>
        <EditForm Model="@customer" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />

            <InputText @bind-Value="customer.FirstName" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="First Name" required />

            <InputText @bind-Value="customer.LastName" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Last Name" required />

            <InputText @bind-Value="customer.Password" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Password" required/>

            <InputText @bind-Value="customer.Email" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Email" required/>

            <InputText @bind-Value="customer.PhoneNumber" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Phone number" required/>
            
            <input type="submit" value="Sign Up"/>

            <p class="error-message" id="signup-error"></p>
        </EditForm>

        @code
        {
            public Customer customer = new Customer();

            private async Task SubmitForm()
            {
                
            }
         }

        <div class="top-row px-4">
            <a class="button" href="LoginUser">Login User</a> <a class="button" href="LoginAdmin">Login Admin</a>
        </div>

    </div>
</body>