body 
{

}

.containerCard 
{
    padding: 2px !important;
}

.container 
{
    width: auto;
}

footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.PageTitle 
{
    text-align: center;
    padding: 10px;
}
