<div class="card @DefaultClass @Class" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title fw-bold">Title</h5>
        <p class="card-text">@Message</p>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Message { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    protected string DefaultClass { get; set; } = "";
}