<div class="card @DefaultClass @Class" style="width: 85rem; background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
">
    <div class="card-body">
        <h5 class="card-title fw-bold">Title</h5>
        <p class="card-text">@Message</p>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Message { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    protected string DefaultClass { get; set; } = "";
}