@page "/rooms_info"

<PageTitle>Rooms</PageTitle>

<h1>Rooms</h1>

<div class="nav-item px-4">
    <a class="button" href="RoomsInfo"> Rooms info </a>
</div>

<br />

<div class="nav-item px-4">
    <a class="button" href="Booking"> Booking </a>
</div>