@page "/roomlist"

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Hotel H2 Rooms</h1>
@if (isElementVisible)
{
    <div id="imgdiv">
        <img id="loadingimg" src="https://gifdb.com/images/thumbnail/buffering-loading-icon-moving-h9m8b9idk9tpksry.gif">
    </div>
}

<div class="roomtable">
    @for (int i = 0; i < AllRooms.Count; i++)
    {
        <RoomListComponent Room="@AllRooms[i]"/>
    }
</div>