<div>

    <h2 class="FrontPageRoomType">@Room.RoomType</h2>
    
    <ImgSlideShowComponent Pictures="@Room.Pictures"/>
    
    <h3 class="FrontPagePrice">@Room.Price</h3>
    
    <h4>Room for: @Room.MaxPeople</h4>

</div>