#imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadingimg {
    width: 200px;
    height: 90px;
}
body {
}

.containerCard {
    padding: 2px !important;
}

.container {
    width: auto;
}

.card {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}