@using DomainModels
@inject NavigationManager NavManager
@page "/signup"

<PageTitle>Hotel H2</PageTitle>

<div class="container">
        
    <h1>Sign Up</h1>
        
    <EditForm Model="@customer" OnValidSubmit="@SubmitForm">

        <InputText @bind-Value="customer.UserName" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Username" required/>

        <InputText @bind-Value="customer.Password" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Password" required/>

        <InputText @bind-Value="customer.Email" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Email" required/>

        <InputText @bind-Value="customer.PhoneNumber" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" placeholder="Phone number" required/>

        <input type="submit" value="Sign Up">

        <p class="error-message" id="signup-error">@errormessage</p>
        
    </EditForm>

    <p style="color: white">or</p>
    
    <div class="top-row px-4">
        <a class="button" href="Login">Login</a>
    </div>

    @if (isPopupVisible)
    {
        <Popup />
    }
</div>

